<form method="POST" action="">
	<table>
		<tr>
			<td>Id <input type="text" name="id" /></td>
			<td>id_clasa <input type="text" name="id_clasa" /></td>
		</tr>
		<tr>
			<td>Nume <input type="text" name="nume" /></td>
			<td>Prenume <input type="text" name="prenume" /></td>
		</tr>
		<tr>
			<td>email <input type="text" name="email" /></td>
			<td>nr_telefon <input type="text" name="nr_telefon" /></td>
		</tr>
		<tr>
			<td>anul_inrolarii [ZZ/LL/AN]<input type="text" name="anul_inrolarii" /></td>
			<td>data_nasterii [ZZ/LL/AN]<input type="text" name="data_nasterii" /></td>
		</tr>
		<tr>
			<td>medie <input type="text" name="medie" /></td>
		</tr>
	</table>
	<input type="submit">
</form>