<form method="POST" action="">
	<table>
		<tr>
			<td>Id <input type="text" name="id" /></td>
			<td>Materie <input type="text" name="materie" /></td>
		</tr>
		<tr>
			<td>Nume <input type="text" name="nume" /></td>
			<td>Prenume <input type="text" name="prenume" /></td>
		</tr>
		<tr>
			<td>Salariu <input type="text" name="salariu" /></td>
			<td>Anul inrolarii <input type="text" name="an_inrolare" /></td>
		</tr>
		<tr>
			<td>Grad <input type="text" name="grad" /></td>
		</tr>
	</table>
	<input type="submit">
</form>