<h1>Adaugare</h1>
<table>
	<tr>
		<td>
			<form method="POST" action="">
				<input type="submit" name="Adauga studenti" value="Adauga studenti">
			</form>
		
		<td>
			<form method="POST" action="">
				<input type="submit" name="Adauga profesori" value="Adauga profesori">
			</form>
		</td>
		
		<td>
			<form method="POST" action="">
				<input type="submit" name="Adauga clase" value="Adauga clase">
			</form>
		</td>
	
	</tr>
</table>
<br>

<h1> Afisare </h1>
<table>
	<tr>
		<td>
			<form method="POST" action="">
				<input type="submit" name="Afisare studenti" value="Afisare studenti">
			</form>
		</td>
	
		<td>
			<form method="POST" action="">
				<input type="submit" name="Afisare profesori" value="Afisare profesori">
			</form>
		</td>
	
		<td>
			<form method="POST" action="">
				<input type="submit" name="Afisare clase" value="Afisare clase">
			</form>
		</td>
	</tr>
</table>
<br>
<h1> Cautari studenti</h1>
<table>
	<tr>
		<td>
			<form method="POST" action="">
				<input type="submit" name="Studenti cu bursa" value="Studenti cu bursa">
			</form>
		</td>
	
		<td>
			<form method="POST" action="">
				<input type="submit" name="Studenti corigenti" value="Studenti corigenti">
			</form>
		</td>
	
	</tr>
</table>

<br>
<h1> Cautari profesori</h1>
<table>
	<tr>
		<td>
			<form method="POST" action="">
				<input type="submit" name="Clasa dirigentelui" value="Clasa dirigentelui">
			</form>
		</td>
	
		<td>
			<form method="POST" action="">
				<input type="submit" name="Sortare profesori grad" value="Sortare profesori grad">
			</form>
		</td>
	</tr>
</table>

<h1> Cautari clasa</h1>
<table>
	<tr>
		<td>
			<form method="POST" action="">
				<input type="submit" name="Media clasei" value="Media clasei">
			</form>
		</td>
	
		<td>
			<form method="POST" action="">
				<input type="submit" name="Numar elevi" value="Numar elevi">
			</form>
		</td>
	</tr>
</table>

</form>