Hello world.

<br>
<br>
<br>
<br>


<form method="POST" action="">
	<input type="submit" name="Afisare studenti" value="Afisare studenti">
</form>

<form method="POST" action="">
	<input type="submit" name="Afisare profesori" value="Afisare profesori">
</form>

<form method="POST" action="">
	<input type="submit" name="Afisare clase" value="Afisare clase">
</form>


<form method="POST" action="">
	<input type="submit" name="Adauga studenti" value="Adauga studenti">
</form>

<form method="POST" action="">
	<input type="submit" name="Adauga profesori" value="Adauga profesori">
</form>

<form method="POST" action="">
	<input type="submit" name="Adauga clase" value="Adauga clase">
</form>